body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

#contact {
  text-align: center;
  padding: 30px;
  background-color: #f9f9f9;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact p {
  margin: 10px 0;
  font-size: 16px;
}

#contact a img {
  margin: 10px;
  height: 30px;
}

.badge-base {
  margin-top: 20px;
}